* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*pagina de inicio*/

body  {
   background-color:darkolivegreen;
   font-family: 'Bad Script',
   cursive;
}

.color  {
    color: beige !important;
}
 
.header {
    color: white; 
    background: #6A9113;
    background: -webkit-linear-gradient(to right, #141517, #6A9113);
    background: linear-gradient(to right, #141517, #6A9113);
}

.titulo__principal {
    color: beige;
    
    
}

 .nav   {
     display: flex;
     justify-content: flex-end;
     background: #6A9113;
     background: -webkit-linear-gradient(to right, #141517, #6A9113);
     background: linear-gradient(to right, #141517, #6A9113);
       
 }

 .nav__lista {
     list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     
     
}

 .nav__item {
    list-style: none;
    display: inline-flex;
    font-size:30px;
    
}

 .nav__enlase   {
     text-decoration: none;
     color:beige;
     padding: 10px;
     
    
}

.presentacion {
    text-align: center;
    font-size: 20px;
    color: beige;
  

}

.presentacion__subtitulo    {
    color: beige;
    text-align: center;
    
}


.imagen__inicio     {
    width: 320px;
    height: 320px;
    animation-name: efecto;     
   animation-duration: 4s;
    animation-iteration-count: 2;
    animation-delay: 2s;
 
}

@keyframes efecto {
    0% {    
        transform: rotate(0deg);
    }

    50%     {
        transform: rotate(180deg);
    }

    100%    {
        transform: rotate(0deg);
    }

}


.contenedor__imagen  {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    object-fit: cover;
   


   
   
}

.texto__imagen {
    color:beige;
    position: absolute;
    left: 54%;
    bottom: 15%;
    transform: translate(-54% );
    line-height: 1.2;
    font-size: 10px;
    
    
}
 

 main p {
     color:beige;
 }

 

.parrafo__inicio {
    font-size: 20px;
    text-align: center;
    color: beige;
   
}

/*Pie de pagina de todas mis paginas*/
.footer     {
    width: 100%;
    justify-content:flex-start;
}
.footer__titulo {
    color:beige;
    text-align: end;
    font-size: 10px; 
    
   
}

.footer__subtitulo  {
    color:beige;
    font-size: 20px;
    
}

.iconos {
    display: flex;

} 
 .iconos i  {
     padding-left: 10px;
}

.footer__contacto {
    margin: 5px;
}
.main__imagen2 {
    width: 500px;
    height: 500px;
}

/* pagina Nosotros*/

.titulo    {
    color: khaki;
    text-align: center;
    margin: 15px;
}


.imagen__pagnosotros  {
    float: left;
    margin-right: 20px;


}

.titulo__parrafo    {
    color: beige;
    font-weight:bold;
   
    
}


/* pagina de Pregustas frecuentes*/

.preguntas  {
    color:beige;
    margin: 0px;
    font-weight: bold;
}

.preguntas__respuestas  {
   margin: 0px;
   color: beige;
   font-weight: bolder;

}

/* pagina Galeria de fotos*/

.grid   {
   
    border: 0px;
    min-height: auto;
    max-width: 50%;
    margin: 0 auto;
    gap: 10px 10px;
   
  
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
    "ele1 ele2 ele2"
    "ele3 ele3 ele4"
    "ele5 ele6 ele4";

  
}
.grid__hijo {
 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.grid__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__hijo--1  {
   grid-area: ele1;
   display: flex;
   
}

.grid__hijo--2  {
    grid-area: ele2;
}

.grid__hijo--3  {
    grid-area: ele3;
}

.grid__hijo--4  {
    grid-area: ele4;

}

.grid__hijo--5  {
    grid-area: ele5;

}

.grid__hijo--6  {
    grid-area: ele6;

}

/*formulario de contacto*/

form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 20px;
}

h4 {
 text-align: center;
 height: 30px;
 color:orange;
 font-size: 20px;
}

.boton__envio {
    background-color: rosybrown;
    color:black;
    border-radius:5px;
    padding: 10px;
    margin: 10px;
    
}

input,text {
    height: 40px;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    
}

.mb-3   {
    color: beige;
}

/*Media Querie*/

  @media screen and (max-width: 1023px) {
        .haeder {
            display: none;
            display: flex;
            flex-direction: column;
        }


    
 }

  @media screen and  (max-width: 600px)     {
     
      .haeder {
          display: block;
          text-align: center;
      }
    
    .nav__lista {
        display: none;
        flex-direction: column;
    }

    .titulo__principal  {
        text-align: center;
    }

    .nav {
        display: none;
      
    }

 #lateral {
            background-color: beige;
            display: block;
            width: 80%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 100%;
            transition: left 1s;
        }

 #lateral:target    {
     left: 0%;
 }


    .header__open   {
        display: block;
        font-size: 20px;
        text-decoration: none;
        color: beige;

    }
    
    .contenedor__imagen {
        flex-direction: column;
       
    }


     

    .grid  {
        display: none;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }


   
}

